.content{
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill,minmax(2,1fr));
  margin: 20px;
  gap:10px;
  
}

.content img{
  opacity: 0.2;
}

.item1 {
  margin-left: 50vw;
  grid-column-start: 1;
  grid-column-end: 4;
}
.content > div{
  border: solid 5px violet;
  border-radius: 10px;
  padding: 20px;
}

.content > div:hover{
  border: solid 5px green;

}

